<%= turbo_frame_tag dom_id(post) do %>
<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= post.published %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= post.upvotes %>
  </p>

  <p>
    <strong>Downvotes:</strong>
    <%= post.downvotes %>
  </p>

</div>

<% end %>